<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <title>Sistema UNAMAD</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="keywords" content="lecenciamiento, acreditación, unamad"/>
    <meta name="author" content="Alex Larico" />
    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'images/favicon_sinc.ico' %}" type="image/x-icon"/>
    <!-- Google font-->
    {% comment %} <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet" /> {% endcomment %}
    <!-- waves.css -->
    <link rel="stylesheet" href="{% static 'pages/waves/css/waves.min.css' %}" type="text/css" media="all"/>
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/css/bootstrap.min.css' %}"/>
    <!-- themify icon -->
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'icon/themify-icons/themify-icons.css' %}"/> {% endcomment %}
    <!-- font-awesome-n -->
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome-n.min.css' %}"/> {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" />
    <!-- scrollbar.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.mCustomScrollbar.css' %}" />
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'editor/editor.css' %}" />
    
    <!--Animaciones-->
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}"/>

    <!--DataTable-->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.3/css/dataTables.bootstrap4.css"/>
    



    <script>
      var base_url = 'http://{{ request.get_host }}/';
    </script>
  </head>

  <body>
    <!-- Pre-loader start -->
    <div class="theme-loader">
      <div class="loader-track">
        <div class="preloader-wrapper">
          <div class="spinner-layer spinner-blue">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
          <div class="spinner-layer spinner-red">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>

          <div class="spinner-layer spinner-yellow">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>

          <div class="spinner-layer spinner-green">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
      <div class="pcoded-overlay-box"></div>
      <div class="pcoded-container navbar-wrapper">
        <nav class="navbar header-navbar pcoded-header">
          <div class="navbar-wrapper">
            <div class="navbar-logo">
              <a
                class="mobile-menu waves-effect waves-light"
                id="mobile-collapse"
                href="#!"
              >
                <i class="ti-menu"></i>
              </a>
              <div class="mobile-search waves-effect waves-light">
                <div class="header-search">
                  <div class="main-search morphsearch-search">
                    <div class="input-group">
                      <span class="input-group-prepend search-close"
                        ><i class="ti-close input-group-text"></i
                      ></span>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Keyword"
                      />
                      <span class="input-group-append search-btn"
                        ><i class="ti-search input-group-text"></i
                      ></span>
                    </div>
                  </div>
                </div>
              </div>
              <a href="/">
                <img
                  class="img-fluid-logo"
                  src="{% static 'images/logo_unamad.png' %}"
                  alt="Theme-Logo"
                />
              </a>
              <a class="mobile-options waves-effect waves-light">
                <i class="ti-more"></i>
              </a>
            </div>
            <div class="navbar-container container-fluid">
              <div class="row">
                <div class="col-md-1">
                  <ul class="nav-left">
                    <li>
                      <div class="sidebar_toggle">
                        <a href="javascript:void(0)"><i class="ti-menu"></i></a>
                      </div>
                    </li>
                    <li>
                      <a
                        href="#!"
                        onclick="javascript:toggleFullScreen()"
                        class="waves-effect waves-light"
                      >
                        <i class="ti-fullscreen"></i>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-7 text-center pt-3">
                  <h5 class="text-white">SISTEMA INFORMÁTICO DE CALIDAD</h5>
                </div>
                <div class="col-md-4">
                  <ul class="nav-right">
                    <li class="user-profile header-notification">
                      <a href="#!" class="waves-effect waves-light">
                        {% comment %} <img
                          src="{% static 'images/avatar-user.png' %}"
                          class="img-radius fondo_celeste"
                          alt="User-Profile-Image"
                        /> {% endcomment %}
                        <span style="font-size:12px;">{{usuario.email|slice:':34'}}</span>
                        <i class="fa fa-angle-down"></i>
                      </a>
                      <ul class="show-notification profile-notification">
                        <li class="waves-effect waves-light">
                          <a href="http://{{ request.get_host }}/perfil/">
                            <i class="ti-user"></i> Perfil
                          </a>
                        </li>
                        <li class="waves-effect waves-light">
                          <a href="http://{{ request.get_host }}/logout/">
                            <i class="ti-layout-sidebar-left"></i> Cerrar Sesión
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
              
              
            </div>
          </div>
        </nav>

        <div class="pcoded-main-container">
          <div class="pcoded-wrapper">
            <nav class="pcoded-navbar">
              <div class="sidebar_toggle">
                <a href="#"><i class="icon-close icons"></i></a>
              </div>
              <div class="pcoded-inner-navbar main-menu">
                <div class="shadows">
                  <div class="main-menu-header">


                    
                    <div class="d-flex justify-content-center h-100">
                      <div class="image_outer_container">
                        <div class="green_icon"></div>
                        <div class="image_inner_container">
                          {% if usuario.foto != '' %}
                            <img src="http://{{ request.get_host }}/media/{{usuario.foto}}"
                            width="100px" height="100px" />
                          {% else %}
                            <img src="{% static 'images/avatar-user.png' %}"
                            width="100px" height="100px" />
                          {% endif %}
                        </div>
                      </div>
                    </div>

                    {% comment %} <img class="img-80 img-radius fondo_celeste shadow" src="{% static 'images/avatar-user.png' %}" alt="User-Profile-Image"/> {% endcomment %}
                    
                    <div class="user-details">
                      <span ><i>{{usuario.cCargo|slice:':34'}}</i></span>
                      <span id="more-details"><b>{{usuario.username}}</b> <i class="fa fa-caret-down"></i> </span>
                    </div>
                  </div>
                  <div class="main-menu-content">
                    <ul>
                      <li class="more-details">
                        <a href="http://{{ request.get_host }}/perfil/"
                          ><i class="ti-user"></i>Perfil</a
                        >
                        <a href="http://{{ request.get_host }}/logout/"
                          ><i class="ti-layout-sidebar-left"></i>Cerrar
                          Sesión</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
                <ul class="pcoded-item pcoded-left-item">
                  <li class="{{menu_inicio}}">
                    <a
                      href="http://{{ request.get_host }}/"
                      class="waves-effect waves-dark"
                    >
                      <span class="pcoded-micon"><i class="fa fa-home"></i></span>
                      <span class="pcoded-mtext">Inicio</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                </ul>
                {% if usuario.oficina.lAcreditacion|lower != 'true' or usuario.lRevior|lower == 'true' %}
                <div class="pcoded-navigation-label">Licenciamiento</div>

                <ul class="pcoded-item pcoded-left-item">
                  <li class="pcoded-hasmenu {{menu_condicion}}">
                    <a
                      href="javascript:void(0)"
                      class="waves-effect waves-dark menu_condicion"
                    >
                      <span class="pcoded-micon"><i class="fa fa-th-large"></i></span>
                      <span class="pcoded-mtext">Condiciones Básicas</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                    <ul class="pcoded-submenu">
                      {% block submenucondiciones %} {% endblock %}
                    </ul>
                  </li>
                </ul>

                <ul class="pcoded-item pcoded-left-item">
                  <li class="pcoded-hasmenu {{menu_requerimiento}}">
                    <a
                      href="javascript:void(0)"
                      class="waves-effect waves-dark menu_requerimiento"
                    >
                      <span class="pcoded-micon"><i class="fa fa-th-large"></i></span>
                      <span class="pcoded-mtext">Requerimientos</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                    <ul class="pcoded-submenu">
                      {% block submenurequerimientos %} {% endblock %}
                    </ul>
                  </li>
                </ul>

                <ul class="pcoded-item pcoded-left-item">
                  <li class="pcoded-hasmenu {{menu_recomendacion}}">
                    <a
                      href="javascript:void(0)"
                      class="waves-effect waves-dark menu_recomendacion"
                    >
                      <span class="pcoded-micon"><i class="fa fa-th-large"></i></span>
                      <span class="pcoded-mtext">Recomendadiones</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                    <ul class="pcoded-submenu">
                      {% block submenurecomendaciones %} {% endblock %}
                    </ul>
                  </li>
                </ul>

                <ul class="pcoded-item pcoded-left-item">
                  <li class="pcoded-hasmenu {{menu_renovacion}}">
                    <a
                      href="javascript:void(0)"
                      class="waves-effect waves-dark menu_renovacion"
                    >
                      <span class="pcoded-micon"><i class="fa fa-th-large"></i></span>
                      <span class="pcoded-mtext">Renovaciones</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                    <ul class="pcoded-submenu">
                      {% block submenurenovaciones %} {% endblock %}
                    </ul>
                  </li>
                </ul>


                <ul class="pcoded-item pcoded-left-item">
                  <li class="pcoded-hasmenu">
                    <a
                     href="javascript:void(0)"
                      class="waves-effect waves-dark"
                    >
                      <span class="pcoded-micon"><i class="fa fa-bar-chart"></i></span>
                      <span class="pcoded-mtext">Reportes</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                    <ul class="pcoded-submenu">
                      <li><a href="http://{{ request.get_host }}/reportes1/">Cuadro de Condiciones</a></li>
                      <li><a href="http://{{ request.get_host }}/reportes2/">Estado de Condiciones</a></li>
                      {% comment %} <li><a href="http://{{ request.get_host }}/reportes3/">Condiciones Pendientes</a></li> {% endcomment %}
                    </ul>
                  </li>
                </ul>
                {%endif%}<!--##########-->
                {% if usuario.oficina.lAcreditacion|lower == 'true' or usuario.lRevisor|lower == 'true' %}
                <div class="pcoded-navigation-label">Acreditación</div>

                <ul class="pcoded-item pcoded-left-item">
                  <li class="pcoded-hasmenu {{menu_estandar}}">
                    <a
                      href="javascript:void(0)"
                      class="waves-effect waves-dark menu_estandar"
                      data-idoficina="{% if user.lRevisor|lower == "true" %}0{% else %}{{user.oficina.id}}{% endif %}"
                    >
                      <span class="pcoded-micon"><i class="fa fa-th-large"></i></span>
                      <span class="pcoded-mtext">Estandares</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                    <ul class="pcoded-submenu">
                      {% block submenuestandares %} {% endblock %}
                    </ul>
                  </li>
                </ul>
                {%endif%}
                {% if usuario.is_staff|lower == "true" %}
                <div class="pcoded-navigation-label">Administración</div>
                <ul class="pcoded-item pcoded-left-item">
                  <li class="">
                    
                    <a
                      href="http://{{ request.get_host }}/admin/"
                      class="waves-effect waves-dark"
                      target="_blank"
                    >
                      <span class="pcoded-micon"><i class="fa fa-user"></i></span>
                      <span class="pcoded-mtext">Administrador</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                </ul>
                {% endif %}
              </div>
            </nav>
            <div class="pcoded-content">
              
            <!-- Page-header start -->
            <div class="row wave">
              <div class="col-md-6">
                  <ul class="breadcrumb">
                      <li class="breadcrumb-item">
                          <a href="/"> <i class="fa fa-home"></i> Inicio</a>
                      </li>
                      {% for menu in submenu %}
                      <li class="breadcrumb-item"><a href="{{menu.url}}">{{menu.nombre}}</a></li>
                      {% endfor %}
                  </ul>
              </div>
              
              <div class="col-md-6 d-inline-flex text-right">
                <!--Mostrar Oficinas-->
                {% if mostrar_oficinas == 1 %}
                <div class="mt-2">
                  {% if oficina_seleccionado is None %}
                  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" 
                    aria-haspopup="true" aria-expanded="false">Seleccione Oficina</button>
                  {% else %}
                  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" 
                    aria-haspopup="true" aria-expanded="false">{{oficina_seleccionado.cOficina|slice:":35"}}</button>
                  {% endif %}
                  
                  {% if oficinas is not None %}
                  <div class="dropdown-menu">
                      {% for oficina in oficinas %}
                      <a class="dropdown-item" href="http://{{ request.get_host }}/{{url}}/{{oficina.id}}/{{periodo_seleccionado.id}}">{{oficina.cOficina}}</a>  
                      {%endfor%}
                  </div>
                  {% endif %}
                </div>
                {%endif %}
                <!--Mostrar Periodos-->
                {% if mostrar_periodos is not none %}
                <div class="mt-2 mx-2">
                  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Periodo {{periodo_seleccionado.cPeriodo}}</button>
                  {% if periodos is not None %}
                  <div class="dropdown-menu">
                      {% for periodo in periodos %}
                        {% if estandar == 1 %}
                          <a class="dropdown-item" href="http://{{ request.get_host }}/{{url}}/{{oficina_seleccionado.id}}/{{periodo.id}}">{{periodo.cPeriodo}}</a>  
                        {% else %}
                          <a class="dropdown-item" href="{{periodo.id}}">{{periodo.cPeriodo}}</a>  
                        {% endif %}
                      {%endfor%}
                  </div>
                  {% endif %}
                </div>
                {% endif %}
              </div>
            </div>  
            <!-- Page-header end -->
             
              <div class="pcoded-inner-content">
                {% block pagecontent %}{% endblock pagecontent %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    


    <!--Modal para cargar Descripciones-->
    <div
      class="modal fade"
      id="modalDetalleEvidencia"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header card-header-resumen">
            <h5 class="modal-title animate__animated animate__backInDown">
              Detalle de Evidencia
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="form-material">
              
              <input type="hidden" id="idMedioVerificacion" value="0" />
              <input type="hidden" id="idPeriodoEvi" value="0" />

              <div class="row">
                <div class="col-md-6">

                  <div class="card">
                    <div class="card-header">
                      <div class="card-header-left">
                        <h6>Detalle</h6>
                      </div>
                    </div>
                    <div class="card-block" style="padding: 0px !important;">
                      <div class="">
                        <textarea id="detalle1" class="form-control editor"></textarea>
                        <textarea id="txtEditorContent1" name="txtEditorContent" hidden></textarea>
                      </div>
                    </div>
                  </div>
  
                </div>


                <div class="col-md-6">

                  <div class="card">
                    <div class="card-header">
                      <div class="card-header-left">
                        <h6>Identificación de Brechas</h6>
                      </div>
                    </div>
                    <div class="card-block" style="padding: 0px !important;">
                      <div class="">
                        <textarea id="detalle2" class="form-control editor"></textarea>
                        <textarea id="txtEditorContent2" name="txtEditorContent" hidden></textarea>
                      </div>
                    </div>
                  </div>
                  
                </div>
              
              </div>
            </form>
          </div>
          {% if usuario.lRevisor|lower != 'true' %}
          <div class="modal-footer footer_detalles"> <!--Ocultar si no es responsable y esta Aprobado-->
            <button type="button" class="btn btn-success" id="btnGuardarDetalleEvi">Guardar</button>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <!--Fin de Modal para Cargar Descripciones-->



    <!--Modal para cargar archivos-->
    <div
      class="modal fade"
      id="modalCargarArchivo"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header card-header-resumen">
            <h5 class="modal-title animate__animated animate__backInDown" id="exampleModalLongTitle">
              Cargar Evidencia
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="form-material" id="formCargarArchivo">
              
              <input type="hidden" id="idMedioVerificacionArchivo" value="0" />
              <input type="hidden" id="idPeriodoArchivo" value="0" />

              <div class="row">
              </div>
              {% if usuario.lRevisor|lower != 'true' %}
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupFileAddon01">Cargar</span>
                </div>
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="fileEvidencia"/>
                  <label class="custom-file-label" for="fileEvidencia" id="lblFileEvidencia">Seleccione pdf..</label>
                </div>
              </div>
              {% endif %}
            </form>

            <div class="table-responsive ">
              <table class="table">
                  <thead class="line-control-status-bar">
                      <tr>
                          <th scope="col">Nombre de archivo</th>
                          <th scope="col">Fecha</th>
                          <th scope="col">Usuario</th>
                          <th scope="col">Acción</th>
                      </tr>
                  </thead>
                  <tbody id="tBodyArchivos"></tbody>
              </table>
            </div>
            <input type="text" id="link_file" value="" style="width:100%; border: none; color:white;"/>


          </div>
          
        </div>
      </div>
    </div>
    <!--Fin de Modal para Cargar Archivos-->


    
    <!--Modal para Revisar archivos-->
    <div class="modal fade" id="modalRevisarEvidencia" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header card-header-resumen">
            <h5 class="modal-title animate__animated animate__backInDown" id="exampleModalLongTitle">
              Revisión/Aprobación de Evidencias
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            {% if usuario.lRevisor|lower == 'true' %}
            <div class="form-group">
              <input type="hidden" id="idMedioRevision" value="0" />
              <input type="hidden" id="idPeriodoRevision" value="0" />

              <textarea class="form-control rounded-0 editor" id="cComentarioRevision" rows="1" ></textarea>
              <textarea id="txtEditorContentRevision" name="txtEditorContent" hidden="" ></textarea>
            </div>

            <div class="float-right mb-2">
              <button type="button" class="btn btn-danger" id="btnObservarRevision"> Observar </button>
              <button type="button" class="btn btn-success" id="btnAprobarRevision"> Aprobar </button>
            </div>
            {% endif %}


            <div class="table-responsive ">
              <table class="table table-hover">
                  <thead class="line-control-status-bar">
                    <tr>
                      <th scope="col">Estado</th>
                      <th scope="col">Fecha</th>
                      <th scope="col">Usuario</th>
                      <th scope="col">Comentario</th>
                      {% comment %} {% if usuario.lRevisor|lower == 'true' %}
                      <th scope="col">Acción</th>
                      {% endif %} {% endcomment %}
                    </tr>
                  </thead>
                  <tbody id="tBodyRevision"></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Fin de Modal para Revisar Archivos-->
   

    <script
      type="text/javascript"
      src="{% static 'js/jquery/jquery.min.js' %} "
    ></script>
    <script
      type="text/javascript"
      src="{% static 'js/jquery-ui/jquery-ui.min.js' %} "
    ></script>
    <script
      type="text/javascript"
      src="{% static 'js/popper.js/popper.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'js/bootstrap/js/bootstrap.min.js' %} "
    ></script>
    <!-- waves js -->
    <script src="{% static 'pages/waves/js/waves.min.js' %}"></script>
    <!-- jquery slimscroll js -->
    <script
      type="text/javascript"
      src="{% static 'js/jquery-slimscroll/jquery.slimscroll.js' %}"
    ></script>

    <!-- slimscroll js -->
    <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %} "></script>

    <!-- menu js -->
    <script src="{% static 'js/pcoded.min.js' %}"></script>
    <script src="{% static 'js/vertical/vertical-layout.min.js' %} "></script>
    <script
      type="text/javascript"
      src="{% static 'js/accordion.min.js' %} "
    ></script>
    <script
      type="text/javascript"
      src="{% static 'js/jquery-ui/jquery-ui.min.js' %} "
    ></script>
    <script
      type="text/javascript"
      src="{% static 'js/bootstrap-growl.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'editor/editor.js' %} "
    ></script>
    <script type="text/javascript" src="{% static 'js/script.js' %} "></script>
    <script type="text/javascript" src="{% static 'js/general.js' %} "></script>

    <!--DataTable-->
    <script src="https://cdn.datatables.net/2.1.3/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.1.3/js/dataTables.bootstrap4.js"></script>
    <!--Exportar a Excel-->
    <script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>
    

    <!--Reportes  Highcharts Demos-->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    
    {% block script_extra %}{% endblock script_extra %}
  </body>
</html>
