{% extends 'header_menu_body.html' %} {% load static %}
<!--########################-->
{% block classmenuinicio %} class="active" {% endblock classmenuinicio%}

<!--######################## -->
{% block classsubmenucondiciones %} class="pcoded-hasmenu
clasesoloparacompletar" {% endblock classsubmenucondiciones%}
<!--########################-->

{% block pagecontent %}



<div class="row">
  <div class="col-md-4 col-xl-4">
    <div class="card mb-3 widget-content azul1">
        <div class="widget-content-wrapper text-white">
            <div class="widget-content-left">
                <div class="widget-heading">Aprobados</div>
                <div class="widget-subheading">Evidencias aprobadas</div>
            </div>
            <div class="widget-content-right">
                <div class="widget-numbers text-white animate__animated animate__bounceInDown"><span>12</span></div>
            </div>
        </div>
    </div>
  </div>

  <div class="col-md-4 col-xl-4">
      <div class="card mb-3 widget-content rosado1">
          <div class="widget-content-wrapper text-white">
              <div class="widget-content-left">
                  <div class="widget-heading">Observados</div>
                  <div class="widget-subheading">Observados por el aprobador</div>
              </div>
              <div class="widget-content-right">
                  <div class="widget-numbers text-white animate__animated animate__bounceInDown"><span>3</span></div>
              </div>
          </div>
      </div>
  </div>
  
  <div class="col-md-4 col-xl-4">
    <div class="card mb-3 widget-content amarillo1">
        <div class="widget-content-wrapper text-white">
            <div class="widget-content-left">
                <div class="widget-heading">Pendientes</div>
                <div class="widget-subheading">Por cargar o aprobar</div>
            </div>
            <div class="widget-content-right">
                <div class="widget-numbers text-white animate__animated animate__bounceInDown"><span>4</span></div>
            </div>
        </div>
    </div>
  </div>

</div>

<br><br><br>


<div class="row">
  <div class="col-md-6 card shadow">
    <figure class="highcharts-figure">
        <div id="container"></div>
        <p class="highcharts-description"></p>
    </figure>
  </div>

  <div class="col-md-6 card shadow">
    <figure class="highcharts-figure">
      <div id="pieChart"></div>
    </figure>
  </div>  
</div>

{% endblock pagecontent %}

{% block script_extra %}
<script type="text/javascript" src="{% static 'js/reporte_inicio.js' %} "></script>
{% endblock script_extra %}