{% extends 'header_menu_body.html' %}
<!--########################-->

<!-- Contenido -->
{% block pagecontent %}
<div class="row">
    <div class="col-md-12">
        <div class="card shadow">
            <div class="card-header card-header-resumen">
                <div class="card-header-left animate__animated animate__bounceInDown">
                    <h6>Medios de Verificación</h6>
                </div>
                <div class="card-header-right animate__animated animate__bounceInDown">
                    <span style="font-sizes: 10px">Items: <label class="badge badge-default">{{medios|length}}</label></span>
                </div>
            </div>
            <div class="card-block">

                <table class="table table-hover accordion-block">
                    <tbody>
                        {% for medio in medios %}
                        <tr>
                          <td>
                            <div class="row">
                              <div class="col-md-9">
                                <label>{{medio.descripcion}}</label>
                              </div>
                              <div class="col-md-3">
                                <div class="btn-group btn-group-sm animate__animated animate__bounceInDown">
                                  <button type="button" class="btn btn-primary btnModalCargarDetalleEvidencia" data-medioverificacion="{{medio.id}}" data-idperiodo="{{periodo_seleccionado.id}}" data-editar="{{medio.datos_objeto.se_edita}}">
                                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                                    <span class="badge badge-light">{{medio.datos_objeto.detalles}}</span>
                                  </button>
                                  <button type="button" class="btn btn-success btnModalCargarArchivo" data-medioverificacion="{{medio.id}}" data-idperiodo="{{periodo_seleccionado.id}}" data-editar="{{medio.datos_objeto.se_edita}}">
                                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                    <span class="badge badge-light">{{medio.datos_objeto.archivos}}</span>
                                  </button>
                                  <button type="button" class="btn btn-danger btnRevisarEvidencia" data-medioverificacion="{{medio.id}}" data-idperiodo="{{periodo_seleccionado.id}}">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    <span class="badge badge-light">{{medio.datos_objeto.revisiones}}</span>
                                  </button>
                                </div>
                              </div>
                            </div>
                          </td>
                          {% comment %} <td class="text-right">
                            {% if lAcreditacion == 'true' %}
                              <span class="text-right label label-warning">Contextualización</span>
                            {% endif %}
                          </td> {% endcomment %}
                        </tr>
                      {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    
</div>
{% endblock pagecontent %}
