{% extends 'header_menu_body.html' %}
<!--########################-->

<!-- Contenido -->
{% block pagecontent %}
<div class="row">
    <div class="col-md-12">
        <div class="card shadow">
            <div class="card-header">
                <div class="card-header-left animate__animated animate__bounceInDown">
                    <h6>Reporte de Medios de Verificación</h6>
                </div>
                <div class="card-header-right animate__animated animate__bounceInDown">
                    <button type="button" class="btn btn-primary" id="btnExport" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">Export Report</button>
                    {% comment %} <span style="font-sizes: 10px">Items: <label class="badge badge-default">24</label></span> {% endcomment %}
                </div>
            </div>
            <div class="card-block">
                <div class="box-body table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                    <table class="table table-hover table_archivos accordion-block" id="tableCondicionesRpt">
                        <thead>
                            <tr class="animate__animated animate__fadeInDown">
                            <th scope="col">#</th>
                            <th scope="col">Medio de Verificación</th>
                            <th scope="col">Oficina Responsable</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Condición</th>
                            <th scope="col">Fecha Máxima</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <th scope="row">1</th>
                            <td>Estatuto de la universidad u otro documento aprobado por la autoridad competente de la universidad.	</td>
                            <td>DIRECCION DE ASUNTOS ACADEMICOS</td>
                            <td><span class="badge badge-success">Aprobado</span></td>
                            <td>24/08/2024</td>
                            <td><span class="badge badge-secondary">Finalizado</span></td>
                            <td>24/08/2024</td>
                            </tr>
                            <tr>
                            <th scope="row">2</th>
                            <td>PLAN ESTRATÉGICO INSTITUCIONAL CON RESOLUCIÓN DE APROBACIÓN</td>
                            <td>DIRECCION DE ASUNTOS ACADEMICOS</td>
                            <td><span class="badge badge-warning">Pendiente</span></td>
                            <td>24/08/2024</td>
                            <td><span class="badge badge-danger">Retraso</span></td>
                            <td>24/02/2024</td>
                            </tr>
                            <tr>
                            <th scope="row">3</th>
                            <td>PLAN OPERATIVO INSTITUCIONAL CON RESOLUCIÓN DE APROBACIÓN</td>
                            <td>IRECCION DE BIBLIOTECA CENTRAL</td>
                            <td><span class="badge badge-danger">Observado</span></td>
                            <td>24/08/2024</td>
                            <td><span class="badge badge-success">Activo</span></td>
                            <td>24/08/2024</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>PLAN DE ESTUDIO DEL PROGRAMA DE ESTUDIOS DE CONTABILIDAD Y FINANZAS	</td>
                                <td>DIRECCION DE BIBLIOTECA CENTRAL</td>
                                <td><span class="badge badge-danger">Observado</span></td>
                                <td>24/02/2024</td>
                                <td><span class="badge badge-danger">Retraso</span></td>
                                <td>14/02/2024</td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>PLAN DE ESTUDIO DEL PROGRAMA DE ESTUDIOS DE ECOTURISMO	</td>
                                <td>OTI - UNIDAD DE DISEÑO Y PROGRAMACIÓN	</td>
                                <td><span class="badge badge-danger">Observado</span></td>
                                <td>24/08/2024</td>
                                <td><span class="badge badge-success">Activo</span></td>
                                <td>24/08/2024</td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td>PLAN ESTRATÉGICO INSTITUCIONAL CON RESOLUCIÓN DE APROBACIÓN</td>
                                <td>DIRECCION DE ASUNTOS ACADEMICOS</td>
                                <td><span class="badge badge-warning">Pendiente</span></td>
                                <td>05/01/2024</td>
                                <td><span class="badge badge-danger">Retraso</span></td>
                                <td>05/08/2024</td>
                            </tr>
                            <tr>
                                <th scope="row">7</th>
                                <td>PLAN ESTRATÉGICO INSTITUCIONAL CON RESOLUCIÓN DE APROBACIÓN</td>
                                <td>DIRECCION DE ASUNTOS ACADEMICOS</td>
                                <td><span class="badge badge-warning">Pendiente</span></td>
                                <td>24/08/2024</td>
                                <td><span class="badge badge-danger">Retraso</span></td>
                                <td>04/04/2024</td>
                            </tr>
                            <tr>
                                <th scope="row">8</th>
                                <td>REGLAMENTO DE GRADOS Y TITULOS CON RESOLUCION DE APROBACIÓN	</td>
                                <td>OTI - UNIDAD DE DISEÑO Y PROGRAMACIÓN	</td>
                                <td><span class="badge badge-danger">Observado</span></td>
                                <td>14/05/2024</td>
                                <td><span class="badge badge-danger">Retraso</span></td>
                                <td>09/02/2024</td>
                            </tr>
                            <tr>
                                <th scope="row">9</th>
                                <td>Manual de usuario o documento pertinente que evidencia los sistemas de gestión económica y financiera.	</td>
                                <td>OTI - UNIDAD DE DISEÑO Y PROGRAMACIÓN	</td>
                                <td><span class="badge badge-danger">Observado</span></td>
                                <td>24/08/2024</td>
                                <td><span class="badge badge-success">Activo</span></td>
                                <td>24/08/2024</td>
                            </tr>
                            <tr>
                                <th scope="row">10</th>
                                <td>PLAN ESTRATÉGICO INSTITUCIONAL CON RESOLUCIÓN DE APROBACIÓN</td>
                                <td>DIRECCION DE ASUNTOS ACADEMICOS</td>
                                <td><span class="badge badge-warning">Pendiente</span></td>
                                <td>24/08/2024</td>
                                <td><span class="badge badge-danger">Retraso</span></td>
                                <td>10/04/2024</td>
                            </tr>
                            <tr>
                                <th scope="row">11</th>
                                <td>PLAN ESTRATÉGICO INSTITUCIONAL CON RESOLUCIÓN DE APROBACIÓN</td>
                                <td>DIRECCION DE ASUNTOS ACADEMICOS</td>
                                <td><span class="badge badge-warning">Pendiente</span></td>
                                <td>24/08/2024</td>
                                <td><span class="badge badge-danger">Retraso</span></td>
                                <td>14/02/2024</td>
                            </tr>
                            <tr>
                                <th scope="row">12</th>
                                <td>Manual de usuario o documento que evidencia los sistemas de gestión docente	</td>
                                <td>SG - UNIDAD DE ARCHIVO CENTRAL	</td>
                                <td><span class="badge badge-danger">Observado</span></td>
                                <td>24/08/2024</td>
                                <td><span class="badge badge-success">Activo</span></td>
                                <td>24/08/2024</td>
                            </tr>
                            <tr>
                                <th scope="row">13</th>
                                <td>PLAN ESTRATÉGICO INSTITUCIONAL CON RESOLUCIÓN DE APROBACIÓN</td>
                                <td>DIRECCION DE ASUNTOS ACADEMICOS</td>
                                <td><span class="badge badge-warning">Pendiente</span></td>
                                <td>24/08/2024</td>
                                <td><span class="badge badge-danger">Retraso</span></td>
                                <td>14/03/2024</td>
                            </tr>
                            <tr>
                                <th scope="row">14</th>
                                <td>PLAN ESTRATÉGICO INSTITUCIONAL CON RESOLUCIÓN DE APROBACIÓN</td>
                                <td>DIRECCION DE ASUNTOS ACADEMICOS</td>
                                <td><span class="badge badge-warning">Pendiente</span></td>
                                <td>24/08/2024</td>
                                <td><span class="badge badge-danger">Retraso</span></td>
                                <td>14/05/2024</td>
                            </tr>
                            <tr>
                                <th scope="row">15</th>
                                <td>PLAN ESTRATÉGICO INSTITUCIONAL CON RESOLUCIÓN DE APROBACIÓN</td>
                                <td>DIRECCION DE ASUNTOS ACADEMICOS</td>
                                <td><span class="badge badge-warning">Pendiente</span></td>
                                <td>24/08/2024</td>
                                <td><span class="badge badge-danger">Retraso</span></td>
                                <td>13/06/2024</td>
                            </tr>
                            <tr>
                                <th scope="row">16</th>
                                <td>PLAN ESTRATÉGICO INSTITUCIONAL CON RESOLUCIÓN DE APROBACIÓN</td>
                                <td>DIRECCION DE ASUNTOS ACADEMICOS</td>
                                <td><span class="badge badge-warning">Pendiente</span></td>
                                <td>24/08/2024</td>
                                <td><span class="badge badge-danger">Retraso</span></td>
                                <td>24/02/2024</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    
</div>
{% endblock pagecontent %}
