{% extends 'header_menu_body.html' %}
<!--########################-->

<!-- Contenido -->
{% block pagecontent %}
<div class="row">
    {% for resumen in datos_resumen.grupos %}
    <div class="col-md-4">
        <div class="card shadow card_resumen">
            <div class="card-header">
                <div class="card-header-left">
                    <h6>{{resumen.grupo}}</h6>
                </div>
                <div class="card-header-right">
                    <span style="font-sizes: 10px">Items: <label class="badge badge-default">{{resumen.items}}</label></span>
                </div>
            </div>
            <div class="card-block text_body">
                <div class="row">
                    <div class="col text-left">
                        <ul>
                            <li><label class="label" style="background: #A7FDCB; color: #05A147"><b>Aprobados: {{resumen.aprobados}}</b></label></li>
                            <li><label class="label" style="background: #FFE7F0; color: #FF4187"><b>Observados: {{resumen.observados}}</b></label></li>
                            <li><label class="label" style="background: #FFF3B8; color: #F2C619"><b>Pendientes: {{resumen.pendientes}}</b></label></li>
                            </ul>
                    </div>
                    <div class="col">
                        <a  href="/{{detalle_url}}/{{periodo_seleccionado.id}}/{{resumen.id}}"
                            class="btn btn-mini waves-effect waves-light btn-principal"
                            style="position: absolute;bottom: 0;right: 10px; color: #fff !important;"
                        ><i class="ti-eye"></i> Ver</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% endfor %}
</div>
{% endblock pagecontent %}
