{% extends 'header_menu_body.html' %}
<!--########################-->

<!-- Contenido -->
{% block pagecontent %}
<div class="row">
    {% for objeto in objetos %}
    <div class="col-md-4">
        <div class="card shadow card_resumen">
            {% if detalle_url != "indicadores" %}
            <div class="card-header d-flex align-items-center justify-content-center text-center
            card-header-resumen2">
            {% else %}
            <div class="card-header d-flex align-items-center justify-content-center text-center
            card-header-resumen">
            {% endif %}
                
                    <h6 class="">{{objeto.descripcion}}</h6>
                
            </div>
            <div class="card-block text_body">
                <div class="row">
                    <div class="col text-left">
                        <ul>
                            <li><label class="label lbl_aprobados" ><b>Aprobados:  {{objeto.datos_objeto.aprobados}}</b></label></li>
                            <li><label class="label lbl_observados"><b>Observados: {{objeto.datos_objeto.observados}}</b></label></li>
                            <li><label class="label lbl_pendientes"><b>Pendientes: {{objeto.datos_objeto.pendientes}}</b></label></li>
                        </ul>
                    </div>
                    <div class="col text-right">
                            <label><b>Asignados:</b> <span class="badge badge-primary">{{objeto.datos_objeto.asignados}}</span></label>
                            <label><b>Total Items:</b> <span class="badge badge-primary">{{objeto.datos_objeto.items}}</span></label>
                        {% if estandar == 1 %}
                        <a  href="/{{detalle_url}}/{{oficina_seleccionado.id}}/{{periodo_seleccionado.id}}/{{objeto.id}}"
                            class="btn btn-mini waves-effect waves-light btn-principal"><i class="ti-eye"></i> Ver </a>
                        {% else %}
                        <a  href="/{{detalle_url}}/{{periodo_seleccionado.id}}/{{objeto.id}}"
                            class="btn btn-mini waves-effect waves-light btn-principal"><i class="fa fa-eye"></i> Ver </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% endfor %}
</div>
{% endblock pagecontent %}
